/* (*-*) (0-0) (.-.) (._.) (о-о) ("-") (^-^) ($-$) ('_') (>_<) (s-s) (-_-) (n-n) (Q-Q) (g-g) (C_C) (c-c) (=-=) (=_=) (:-:) (O_O) (T-T) (T_T) (~_~) (`-`) (0.0) (-_o)
(0-O) (v-v) (o-O) (I-I) (J-J) (X_X) (<->) \_|_/ (\__/) \_(o-o)_/ (8_8) (х-х) (ф-ф) (ж-ж) (б-б) (O.O) (-.-) (_._) (0~0) (o ~ o) (+_+) (9-9) (S_S) (#-#) (/__\) (&-&)
(@-@) (?.?) ('.') ('0') (U-U) (=.=) (='X'=) (^-^) */
body {
  font-family: "Poppins", "sans-serif";
  color: black;
  font-size: 20px;
  font-weight: 400;
  min-width: 560px;
}
.pad {
  margin: 15px;
}
.cartochki {
  display: flex;
  justify-content: center;
  min-height: 780px;
}
.cartochkii {
  min-height: 520px;
}
.knopka {
  margin-top: -3%;
  height: 25px;
  width: 50px;
  margin-left: 49%;
  background: #ffc814;
  border-radius: 4px;
  border: 0px;
  color: black;
  transition: 1s;
}
.knopka:hover {
  background-color: blue;
  transition: 0.5s;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.knopka:active {
  transition: 0.5s;
  transform: translateY(2px);
  box-shadow: none;
}
.flag {
  width: 165px;
  height: 55px;
  background: #ffffff;
  border-radius: 4px 4px 0px 0px;
  margin-right: 70px;
  border: 0ch;
  transition: 1s;
}
.flag:focus {
  background: #ffc814;
}
.flag:hover {
  transition: 0.5s;
}
.container {
  max-width: 720px;
  min-height: 600px;
}
.min {
  min-height: 570px;
}
