.body__big-text {
  color: white;
  margin-top: 180px;
  margin-left: 150px;
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  width: 488px;
  height: 228px;
}
.body__small-text {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  width: 563px;
  height: 96.79px;
  margin-left: 150px;
}
.body__ssilka-text1 {
  margin-left: 150px;
}
.body__ssilka-text2 {
  background: white;
  margin-left: 20px;
}
.body__center {
  margin-left: 170px;
}
.body__flag {
  display: flex;
  align-items: center;
  margin-top: 170px;
}
.body__pole {
  max-width: 1450px;
  height: 120px;
  background: #ffffff;
  box-shadow: 0px 6px 24px #e4e2ee;
}
.body__text-centr {
  display: flex;
}
input {
  width: 170px;
  height: 45px;
  border: 0ch;
  box-shadow: 0px 6px 24px #e4e2ee;
  transition: 1s;
}
input:hover {
  transition: 1s;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
input:active {
  transition: 0.5s;
  transform: translateY(2px);
  text-shadow: none;
}
.body__text1,
.body__text2,
.body__text3,
.body__text4,
.body__text5 {
  margin: 30px;
}
.body__text-centr2 {
  display: flex;
  margin-top: 58px;
}
.body__ssilka {
  margin-top: 35px;
}
